@{
    ViewData["Title"] = "Home Page";
}
@model List<Quote>

@foreach (var q in Model)
{
<div class="card">

    <div class="card-header container">

        <div class="row">
            <p class="col-9">Quote</p>
            <span class="col-3 fw-bold pt-2">#@q.quoteID</span>
        </div>
    </div>

    <div class="card-body ps-4">
        <p>@q.quote</p>
        <ul>
            <li><strong>Author: </strong>@q.author</li>
            <li><strong>Date: </strong>@q.date</li>
            <li><strong>Subject: </strong>@q.subject</li>
            <li><strong>Citation: </strong>@q.citation</li>
        </ul>
    </div>
    <nav>
    <a class="text-center btn btn-outline-secondary btn-sm" asp-controller="Home" asp-action="Edit" asp-route-quoteid="@q.quoteID">Edit</a>
    <a class="text-center btn btn-outline-secondary btn-sm" asp-controller="Home" asp-action="Delete" asp-route-quoteid="@q.quoteID">Delete</a>
    </nav>
</div>

    <br />
}